<% if client_signed_in? %>
  <li>
  <%= link_to('Logout', profile.destroy_client_session_path, :method=>'delete') %>
  </li>
  <li>
    <%= link_to('Profile', current_client) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', profile.new_client_session_path)  %>
  </li>
<% end %>
<% if client_signed_in? %>
  <li>
  <%= link_to('Edit account', profile.edit_client_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Sign up', profile.new_client_registration_path)  %>
  </li>
<% end %>